* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #0f0f1e;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

/* Ajustes mobile */
@media (max-width: 600px) {

    body {
        font-size: 14px;
        overflow-x: hidden;
    }

    .container {
        width: 90%;
        margin: 0 auto;
        padding: 0 10px;
    }

    /* Centralizar o texto e evitar sobreposiﾃｧﾃ｣o */
    .product-title {
        font-size: 1.2rem; /* diminui o tamanho no celular */
        line-height: 1.2;
        text-align: center;
        word-break: break-word; /* evita que palavras saiam da tela */
        margin: 15px 0;
    }

    .product-description {
        font-size: 0.9rem;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Ajustar setas */
    .aroows {
        width: 100%;
        justify-content: space-between;
        padding: 0 20px;
        top: auto;
        bottom: 10%; /* posiciona na parte inferior */
        left: 50%;
        transform: translateX(-50%);
    }

    .aroows-btn {
        padding: 10px;
    }

    /* Ajustar imagens */
    .product-image {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto 20px auto;
    }
}


header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 255 #0000FF
}

header nav ul {
    display: flex;
    gap: 45px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0px;
    background-color: #00f7ff;
    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;


}

.container {
    height: 100vh;
    position: relative;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(5, 5, 77, 1) 40%, rgba(1, 11, 13, 1) 96%);
    overflow: hidden;

}
.container::before{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 60%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 0;
    animation: pulse 2s infinite alternate;
}
@keyframes pulse{
    0%{
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);

    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}
.list{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;

}

.item{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

        /* ANIMAﾃﾃグ*/
    transform: translateX(100vw);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

}

.active{
    opacity: 1;
    transform: translateX(0);
}

.product-img img{
    width: 70%;
    height: 100%;
    display: block;
    align-items: center;
    position: relative;
    z-index: 2;

}

.product-img{
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
    /*ANIMAﾃﾃグ*/
    transform: translateX(400px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition-delay: 0.6s;    

}

.active .product-img {
    transform: translateX(0);
    opacity: 1;
}


.content{
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}
.product-tag{
    font-size: 1rem;
    text-transform: uppercase;
    color:  #00f7ff ;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.product-name{
    font-size: 4.5rem;
     font-family: "Orbitron", sans-serif;
     line-height: 1.1;
     margin: 20px;
         /*ANIMAﾃﾃグ*/
    transform: translateX(400px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition-delay: 0.6s;    

}

.active .product-name {
    transform: translateX(0);
    opacity: 1;
}


.product-description{
    font-size: 1.2rem;
    color: #b8b8d0;
    line-height: 1.2;
    margin: 14px;
    max-width: 500;
            /*ANIMAﾃﾃグ*/
    transform: translateX(400px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition-delay: 0.6s;    

}

.active .product-description {
    transform: translateX(0);
    opacity: 1;
}

.btn {
    position: relative;
    padding: 12px 20px;
    background: linear-gradient(90deg, #122f55, #000000); /* fundo azul */
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin: 10px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    color: white; /* 櫨 texto muda de preto para branco no hover */
}

.btn::before {
    content: "";
    position: absolute;
    inset: -3px; 
    border-radius: 40px;
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    background-size: 400%;
    filter: blur(8px);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: glowing 20s linear infinite;
}
.btn:hover::before {
    opacity: 1;
}

.btn-span{
    position: relative;
    z-index: 10;
}

@keyframes glowing {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.aroows {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%); /* agora centraliza X e Y */
    z-index: 10;
    padding: 0 60px;
    
}
.aroows::before{
    content: "";
    position: absolute;
    background: azure;
}
.aroows-btn{
    cursor: pointer;
    background: rgba(15, 15, 30, 0.7);
    border: 2px solid #08067c;
    color: #ffffff;
    border-radius: 50%;
    width: 45px;
    height: 45px;

    /*transiﾃｧﾃ｣o leve*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
}

.aroows-btn:hover {
    background: rgba(0, 247, 255, 0.2); 
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(0, 247, 255, 0.8);
}

.indicators{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;
    

}

.numbers{
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.2);

}


.dots{
    display: flex;
    gap: 10px;

}

.dot{
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.dot.active{
    background: #00f7ff;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);

}

.tech-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle{
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 247, 255, 0.2);

}

.circle:nth-child(1){
    width: 200px;
    height: 200px;
    left: 10%;
    top: 10%;
}

.circle:nth-child(2){
    width: 300px;
    height: 300px;
    left: 80%;
    top: 80%;
}

.circle:nth-child(3){
    width: 100px;
    height: 100px;
    left: 60%;
    top: 70%;
}

.circle:nth-child(4){
    width: 250px;
    height: 250px;
    left: 50%;
    top: 20%;
}

.circle:nth-child(5){
    width: 170px;
    height: 170px;
    left: 50%;
    top: 55%;
}
.container_final {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 12px;
  color: #fff;
  font-size: 10px;
  z-index: 999; /* garante que fique por cima */
}

.final {
  color: #fff;
}

.logo {
  font-size: 15px;
  color: #00f7ff;
}